* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    min-height: 100%;
}

a {
    text-decoration: none;
}

button:active {
    opacity: 0.5;
}

.default-div {
    text-align: center;
    display: block;
    margin: auto;
    width: 80%;
    padding: 12px;
}

.bpm-div {
    text-align: center;
    display: block;
    margin: auto;
    width: 40rem;
    padding: 2rem;
    background-color: #2dbe54;
    border-radius: 20px;
}
.metronome-div {
    text-align: center;
    display: block;
    margin: auto;
    width: 40rem;
    padding: 2rem;
    background-color: #e2b82d;
    border-radius: 20px;
}
.bpm-label {
    text-align: center;
    display: block;
    margin: auto;
    font-size: 8em;
}
.bpm-button {
    height: 5rem;
    width: 20rem;
    font-size: 200%;
    font-weight: bold;
    color: #f8f8f8;
    text-align: center;
    background-color: #2e9e4c;
    border-radius: 20px;
    cursor: pointer;
    border-width: 0px;
    margin-bottom: 2rem;
}
.bpm-reset-button {
    height: 3rem;
    width: 8rem;
    font-size: 150%;
    font-weight: bold;
    color: #f8f8f8;
    text-align: center;
    background-color: #d43030;
    border-radius: 12px;
    cursor: pointer;
    border-width: 0px;
}